src/roma-serialization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.romaframework.org/xml/roma" xmlns="http://www.romaframework.org/xml/roma"
	version="3.0" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="aspectClassTypeSerialization">
		<xsd:attribute name="rootElementName" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="aspectFieldTypeSerialization">
		<xsd:attribute name="transient" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
</xsd:schema>
