src/roma-profiling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.romaframework.org/xml/roma" xmlns="http://www.romaframework.org/xml/roma"
	version="2.0" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="aspectClassTypeProfiling">
		<xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true" />
	</xsd:complexType>
	<xsd:complexType name="aspectActionTypeProfiling">
		<xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true" />
		<xsd:attribute name="key" type="xsd:string" use="optional" />
	</xsd:complexType>
</xsd:schema>